html {
  height: 100%;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.main_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


h2 {
  text-align: center; font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: #ffffff;
}

#title {
  
}

.column {
  float: left;
  width: 32%;
  padding: 1.2px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
